<template>
  <div class="py-4 fixed bottom-0 w-full bg-indigo-500 text-white">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
          <div class="flex flex-col-reverse sm:flex-row justify-between">
            <div>
              Total contadores:
              <span class="font-numbers text-lg">
                {{ totalCounters }}
              </span>
            </div>
            <div>
              Suma contadores:
              <span class="font-numbers text-lg">
                {{ sumCounters }}
              </span>
            </div>
          </div>

      </div>
  </div>
</template>

<script>
export default {
  computed:{
    totalCounters() {
      return this.$store.getters['counter/totalCounters']
    },
    sumCounters() {
      return this.$store.getters['counter/sumCounters']
    }
  }
}
</script>
