<template>
  <nav class="bg-white border-b border-gray-100">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex gap-4 py-3">
              <div class="flex gap-2">
                <select name="filter" v-model="filter.option" class="select">
                  <option :value="{}">Filtrar por:</option>
                  <option :key="idx" v-for="(option, idx) in options" :value="option.field"> {{ option.name }}</option>
                </select>
                <div class="w-5 mt-1 cursor-pointer hover:text-blue-500" @click="changeOrder">
                  <Icons :name="filter.type == '' ? 'sort' : filter.type == 'asc' ? 'sort-down' : 'sort-up'" class="w-5 h-8"/>
                </div>
              </div>
              <div>
                <input type="text" class="input w-11/12" v-model="filter.search" placeholder="Buscar" maxlength="20"/>
              </div>
            </div>
            <div class="py-4 px-2" v-if="totalCounters < 20 ">
              <button type="button" class="hidden md:block btn btn-primary" @click="showForm">Crear Contador</button>
              <button type="button" class="md:hidden btn btn-primary text-2xl font-bold leading-3 pb-[0.7rem]" @click="showForm"> + </button>
            </div>
          </div>
      </div>
  </nav>
</template>

<script>
import { reactive } from 'vue';

export default {
  setup() {
    const filter = reactive({
      option: {},
      type: '',
      search: ''
    });

    const options = [
      { field:'name', name:'Nombre' },
      { field:'value', name:'Contador' }
    ]

    return {
      filter,
      options
    }
  },
  mounted() {
    const { option, type, search } = JSON.parse( sessionStorage.getItem("filters") )
    this.filter.option = option
    this.filter.type = type
    this.filter.search = search
  },
  computed:{
    totalCounters() {
      return this.$store.getters['counter/totalCounters']
    }
  },
  methods:{
    showForm() {
      this.$store.commit('counter/showCreate')
    },
    changeOrder() {
      if ( this.filter.option != {} ) {
        if ( this.filter.type == '' ) {
          this.filter.type = 'asc'
        } else if ( this.filter.type == 'asc' ) {
          this.filter.type = 'desc'
        } else {
          this.filter.type = ''
        }
      } else {
        this.filter.type = ''
      }
    }
  },

  watch: {
    filter:{
      handler:function(val) {
        this.$store.commit('counter/filterBy', val)
      },
      deep:true
    },
  }
}
</script>
