<template>
  <svg v-if="name === 'trash'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z" /></svg>
  <svg v-else-if="name === 'exclamation'" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M176 432c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zM25.26 25.199l13.6 272C39.499 309.972 50.041 320 62.83 320h66.34c12.789 0 23.331-10.028 23.97-22.801l13.6-272C167.425 11.49 156.496 0 142.77 0H49.23C35.504 0 24.575 11.49 25.26 25.199z"></path></svg>
  <svg v-else-if="name === 'sort'" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.56565 10.7476C6.26725 11.0841 5.73275 11.0841 5.43435 10.7476L3.18408 8.20944C2.76439 7.73605 3.10864 7 3.74973 7L8.25027 7C8.89136 7 9.23561 7.73606 8.81592 8.20944L6.56565 10.7476Z" fill="currentColor"/> <path d="M5.43435 1.25242C5.73275 0.915859 6.26725 0.915859 6.56565 1.25242L8.81592 3.79056C9.23561 4.26395 8.89136 5 8.25027 5L3.74973 5C3.10864 5 2.76439 4.26394 3.18408 3.79056L5.43435 1.25242Z" fill="currentColor"/> </svg>
  <svg v-else-if="name === 'sort-up'" width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2.43435 0.252424C2.73275 -0.0841411 3.26725 -0.084141 3.56565 0.252425L5.81592 2.79056C6.23561 3.26395 5.89136 4 5.25027 4L0.749731 4C0.10864 4 -0.235609 3.26394 0.184084 2.79056L2.43435 0.252424Z" fill="currentColor"/> </svg>
  <svg v-else-if="name === 'sort-down'" width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M3.56565 3.74758C3.26725 4.08414 2.73275 4.08414 2.43435 3.74758L0.184085 1.20944C-0.235608 0.736054 0.108641 -5.47465e-08 0.749732 0L5.25027 3.84327e-07C5.89136 4.39073e-07 6.23561 0.736055 5.81592 1.20944L3.56565 3.74758Z" fill="currentColor"/> </svg>
</template>

<script>
export default {
  props: {
    name: String,
  },
}
</script>
