<template>
  <div class="w-full">
    <div
        class="flex flex-col md:flex-row items-center md:justify-between my-1 bg-gray-200 py-1.5 px-6 rounded-lg
              hover:border-x-2 hover:border-indigo-500 hover:bg-[#dbe7ff]"
        :key="`counter-${idx}`" v-for="(item, idx) in items">
      <div class="my-auto">
        {{ item.name }}
      </div>
      <div class="flex flex-col sm:flex-row items-center sm:justify-between gap-2">
        <Handler :item="item"/>
        <div @click="remove(item.id)">
          <Icons name="trash"
            class="w-5 text-red-500 hover:text-red-600 ml-0 sm:ml-5 cursor-pointer"
          />
        </div>
      </div>
    </div>

    <div class="w-9/12 h-2/3 my-40 mx-auto bg-blue-200 p-9 rounded-xl" v-show="totalCounters">
      <h1 class="text-2xl text-blue-600"> No hay contadores :( </h1>
      <p class="text-xl"> Debemos apurarnos, los contadores son algo importante de esta aplicación y sin ellos no podrías ver lo bien que funciona.</p>
      <button class="mt-4 btn-primary" @click="showForm"> Crear contador </button>
    </div>
  </div>
</template>

<script>
import Handler from './Handler.vue';
import Icons from './../Icons.vue';

export default  {
  components:{
    Handler,
    Icons
  },
  computed:{
    totalCounters(){
      return this.$store.getters['counter/totalCounters'] == 0
    },
    items() {
      let itemCounters = [...this.$store.state.counter.items]
      if ( !itemCounters.length ) {
        return []
      }

      const { type, option, search } = this.$store.state.counter.filter
      if ( search && !/[\\]/.test(search) ) {
        const reg = new RegExp(search, 'i')
        itemCounters = itemCounters.filter( item => {
          return reg.test(item[option])
        })
      }

      if ( type ) {
        return itemCounters.sort( this.$sortGeneric(option, type) )
      } else {
        return itemCounters
      }
    }
  },
  methods:{
    remove(id) {
      const idx = this.$store.state.counter.items.findIndex( (item) => item.id == id )
      if ( idx > -1 ) {
        this.$store.commit('counter/remove', idx)
      }
    },
    showForm() {
      this.$store.commit('counter/showCreate')
    },
  }
}

</script>
