<template>
  <DialogModal :show="show" maxWidth="md" @close="$emit('closeModal')">
      <template #title>
          Crear contador
      </template>

      <template #content>
        <form @submit="createCounter" class="grid grid-cols-4 gap-2">
          <div class="col-span-4">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Nombre</label>
            <input type="text" id="name" v-model="form.name" class="input w-full" maxlength="20"/>
          </div>

          <div class="col-span-4 sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium text-gray-700">Valor</label>
            <input type="text" id="value" v-model="form.value" class="input w-full" maxlength="1"/>
          </div>

          <div class="col-span-4 sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium text-gray-700">Numero incrementos</label>
            <input type="text" id="number" v-model="form.number" class="input w-full" maxlength="1"/>
          </div>
        </form>
        <div class="text-red-400 my-1 text-sm" v-show="error">{{ error }}</div>
      </template>

      <template #footer>
          <button type="button" class="btn-danger" @click="closeModal">
              Cancelar
          </button>

          <button class="btn-primary"
                  @click="createCounter()">
              Crear
          </button>
      </template>
  </DialogModal>
</template>

<script>
import DialogModal from './../Alerts/DialogModal.vue'

const uuid = () => {
  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}

const number = (text) => {
  let reg = /[1-9]{1}/
  return !reg.test(text)
}

const text = (name) => {
  let reg = /[a-zA-Z1-9 ]/
  return !reg.test(name)
}

const initForm = {
  name   : '',
  value  : '',
  number : 1,
}

export default {
  components: {
    DialogModal
  },

  props: [ 'show' ],

  data() {
    return {
      form: { ...initForm },
      error:''
    }
  },

  methods: {
    createCounter() {
      if ( number(this.form.value) || number(this.form.number) ) {
        this.error = "Valores incorrectos"
        return false
      } else if ( text( this.form.name ) ) {
        this.error = "Nombre incorrecto"
        return false
      }

      this.error = ''
      this.$store.commit('counter/add', { id:uuid(), ...this.form })
      this.closeModal()
      this.form = { ...initForm }
    },
    closeModal(){
      this.$store.commit('counter/hiddenCreate')
    }
  }
}
</script>
