import { mapMutations } from 'vuex';
<template>
  <div class="custom-number-input h-10 w-32">
    <div class="flex flex-row h-9 w-full rounded-lg relative mt-0.5">
        <button type="button" @click="approveDecrease"
          class="bg-gray-300 text-red-600 hover:bg-red-600 hover:text-white
                  h-full w-20 rounded-l cursor-pointer outline-none">
            <span class="m-auto text-2xl font-bold leading-7">−</span>
        </button>
        <div
          class="w-full bg-gray-300 my-auto
                font-semibold text-md text-gray-700
                font-numbers text-lg text-center"
        >
          {{ item.value }}
        </div>
        <button type="button" @click="approveIncrease"
                class="bg-gray-300 text-green-600 hover:bg-green-600
                      hover:text-white h-full w-20 rounded-r cursor-pointer">
          <span class="m-auto text-2xl font-bold leading-6">+</span>
        </button>
    </div>
  </div>
</template>


<script>
import { mapMutations } from 'vuex'

export default{
  props:{
    item:{}
  },
  methods:{
    ...mapMutations({
      increment: 'counter/increment',
      decrement: 'counter/decrement'
    }),
    approveDecrease() {
      let value = this.item.value - this.item.number
      if ( value > 0 ) {
        let idx = this.$store.state.counter.items.findIndex( (item) => item.id == this.item.id )
        if ( idx > -1 ) {
          this.decrement(idx)
        }
      }
    },
    approveIncrease(){
      let value = this.item.value + this.item.number
      if ( value <= 20 ) {
        let idx = this.$store.state.counter.items.findIndex( (item) => item.id == this.item.id )
        if ( idx > -1 ) {
          this.increment(idx)
        }
      }
    }
  }
}
</script>


<style>
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }
</style>
