@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One:wght@400;700;800&&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .font-primary {
      font-family: 'Nanum Gothic', sans-serif;
      font-family: 'Roboto', sans-serif;
    }
    .font-numbers {
        font-family: 'Red Hat Mono', monospace;
    }
}


@layer components {
  .btn {
      @apply inline-flex items-center px-4 py-2 border border-transparent
              rounded-md font-medium text-xs text-white uppercase tracking-widest
              focus:outline-none transition;
  }

  .btn-primary {
      @apply btn bg-blue-600 hover:bg-blue-700 focus:ring focus:ring-blue-300 text-white;
  }

  .btn-secondary {
      @apply btn  bg-gray-600 hover:bg-gray-700 focus:ring focus:ring-gray-300 text-white;
  }

  .btn-secondary-light {
      @apply btn  bg-gray-400 hover:bg-gray-500 focus:ring focus:ring-gray-200 text-white;
  }

  .btn-warning {
      @apply btn bg-yellow-600 hover:bg-yellow-700 focus:ring focus:ring-yellow-300 text-white;
  }

  .btn-danger {
      @apply btn bg-red-600 hover:bg-red-700 focus:ring focus:ring-red-300 text-white;
  }
  .btn-success {
      @apply btn bg-green-600 hover:bg-green-700 focus:ring focus:ring-green-300 text-white;
  }

  .select{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
            focus:border-blue-500 block w-full p-2
  }

  .input {
    @apply  border-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200
          focus:ring-opacity-50 rounded-md shadow-sm h-[2.4rem] outline-none px-3 p-1;
  }

  .label {
    @apply block font-medium text-sm text-gray-700;
  }
}
