<template>
    <div class="min-h-screen bg-gray-100 font-primary">

        <Header />

        <main>
          <div class="fixed z-20 top-16 bottom-[89px] sm:bottom-[61px] w-full overflow-y-auto">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
              <Nuxt />
            </div>
          </div>
        </main>

        <Footer />
  </div>
</template>
