<template>
  <div>
    <Counters />
    <CreateForm
      :show="showCreate"
    />
  </div>
</template>

<script>
import Counters from '~/components/Index/Counters.vue';
import CreateForm from '~/components/Index/CreateForm.vue';

export default {
  name: "IndexCounter",

  components: {
    Counters,
    CreateForm
  },

  created() {
    this.load()
  },

  methods:{
    load(){
      let counters = JSON.parse( localStorage.getItem('counters') );
      let filters = JSON.parse( sessionStorage.getItem("filters") )

      if ( counters ) {
        this.$store.commit('counter/load', counters)
      }
      if ( filters ) {
        this.$store.commit('counter/filterBy', filters)
      }
    }
  },

  computed:{
    showCreate() {
      return this.$store.state.counter.showCreate
    }
  }
}
</script>
